<!-- prettier-ignore -->
{{ if .caption }}
  <figure>
{{ end }}

{{ if (strings.HasPrefix .src "http") }}
  <img
    src="{{ .src }}"
    alt="{{ .alt }}"
    {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
    {{ if .lazy }}loading="lazy"{{ end }}
    decoding="async"
  />
{{ else if (strings.HasPrefix .src "/") }}
  {{ $resourcePath := strings.TrimPrefix "/" .src }}
  {{ $image := resources.Get $resourcePath }}
  {{ if and $image (not (in (slice "gif" "svg") $image.MediaType.SubType)) }}
    {{ $minWidth := .page.Site.Params.imageResize.min | default 400 }}
    {{ $maxWidth := .page.Site.Params.imageResize.max | default 1400 }}
    {{ $increment := .page.Site.Params.imageResize.increment | default 500 }}
    {{ $widths := seq $minWidth $increment $maxWidth }}
    {{ if lt $image.Width $maxWidth }}
      {{ $widths = $widths | append $image.Width }}
    {{ end }}
    {{ $widths = sort $widths }}
    {{ $sizes := slice }}
    {{ $srcSet := slice }}
    {{ $webpSrcSet := slice }}
    {{ $largest := $image }}
    {{ range $width := $widths }}
      {{ if ge $image.Width $width }}
        {{ $resized := $image.Resize (printf "%dx" $width) }}
        {{ $largest = $resized }}
        {{ $srcSet = $srcSet | append (printf "%s %dw" $resized.RelPermalink $resized.Width) }}
        {{ if ne "webp" $image.MediaType.SubType }}
          {{ $webp := $image.Resize (printf "%dx webp" $width) }}
          {{ $webpSrcSet = $webpSrcSet | append (printf "%s %dw" $webp.RelPermalink $webp.Width) }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $sizes = $sizes | append "(max-width: 700px) 100vw" "700px" }}
    <picture>
      {{ with $webpSrcSet }}
        <source type="image/webp" srcset="{{ delimit . "," }}" sizes="{{ delimit $sizes "," }}" />
      {{ end }}
      <img
        src="{{ $largest.RelPermalink }}"
        {{ with $srcSet }}srcset="{{ delimit . "," }}"{{ end }}
        sizes="{{ delimit $sizes "," }}"
        alt="{{ .alt }}"
        {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
        {{ if .lazy }}loading="lazy"{{ end }}
        decoding="async"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
      />
    </picture>
  {{ else }}
    {{ $imageConfig := imageConfig (path.Join "static" .src) }}
    <img
      src="{{ .src }}"
      alt="{{ .alt }}"
      {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
      {{ if .lazy }}loading="lazy"{{ end }}
      decoding="async"
      width="{{ $imageConfig.Width }}"
      height="{{ $imageConfig.Height }}"
    />
  {{ end }}
{{ else }}
  {{ $src := .src }}
  {{ if strings.HasPrefix $src "./" }}
    {{ $src = substr $src 2 }}
  {{ end }}
  {{ $images := .page.Resources.ByType "image" }}
  {{ $image := $images.GetMatch $src }}
  {{ if eq $image.MediaType.SubType "svg" }}
    <img src="{{ $image.RelPermalink }}" alt="{{ .alt }}" decoding="async" />
  {{ else }}
    {{ $minWidth := .page.Site.Params.imageResize.min | default 400 }}
    {{ $maxWidth := .page.Site.Params.imageResize.max | default 1400 }}
    {{ $increment := .page.Site.Params.imageResize.increment | default 500 }}
    {{ $widths := seq $minWidth $increment $maxWidth }}
    {{ if lt $image.Width $maxWidth }}
      {{ $widths = $widths | append $image.Width }}
    {{ end }}
    {{ $widthsCount := len $widths }}
    {{ $sizes := slice }}
    {{ $srcSet := slice }}
    {{ $webpSrcSet := slice }}
    {{ range $i, $width := $widths }}
      {{ if ge $image.Width $width }}
        {{ if eq $i (sub $widthsCount 1) }}
          {{ $sizes = $sizes | append (printf "%dpx" $width) }}
        {{ else }}
          {{ $maxSize := add $width (sub $increment 1) }}
          {{ $sizes = $sizes | append (printf "(max-width: %dpx) %dpx" $maxSize $width) }}
        {{ end }}
        {{ $resized := $image.Resize (printf "%dx" $width) }}
        {{ $srcSet = $srcSet | append (printf "%s %dw" $resized.RelPermalink $resized.Width) }}
        {{ if ne "webp" $image.MediaType.SubType }}
          {{ $webp := $image.Resize (printf "%dx webp" $width) }}
          {{ $webpSrcSet = $webpSrcSet | append (printf "%s %dw" $webp.RelPermalink $webp.Width) }}
        {{ end }}
      {{ end }}
    {{ end }}
    <picture>
      {{ with $webpSrcSet }}
        <source type="image/webp" srcset="{{ delimit . "," }}" sizes="{{ delimit $sizes "," }}" />
      {{ end }}
      <img
        src="{{ $image.RelPermalink }}"
        {{ with $srcSet }}srcset="{{ delimit . "," }}"{{ end }}
        {{ with $sizes }}sizes="{{ delimit . "," }}"{{ end }}
        alt="{{ .alt }}"
        {{ with .caption }}title="{{ . | markdownify | plainify }}"{{ end }}
        {{ if .lazy }}loading="lazy"{{ end }}
        decoding="async"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
      />
    </picture>
  {{ end }}
{{ end }}

<!-- prettier-ignore -->
{{ if .caption }}
    <figcaption>{{ .page.RenderString .caption }}</figcaption>
  </figure>
{{ end }}
